In [78]:
%run load_pga_tee_time.py
df_tee_time = df

   Group Number            Tee Time  Start Tee Group Location  Group Hole  \
0             1 2025-03-20 11:35:00          1         14 Tee          14
1             1 2025-03-20 11:35:00          1         14 Tee          14

                             Course Name Group Status    Player Name Country
0  Innisbrook Resort (Copperhead Course)       ACTIVE  Danny Willett     ENG
1  Innisbrook Resort (Copperhead Course)       ACTIVE      Rico Hoey     PHI

In [79]:
import pandas as pd

# User input for the date
# Need try catch if date is old tournament.
date_input = '2025-03-20'

# Convert user input to a pandas Timestamp
date_input = pd.to_datetime(date_input)

# Filter the DataFrame to include only rows with the specified date
df_tee_time = df_tee_time[df_tee_time['Tee Time'].dt.date == date_input.date()]

print(df_tee_time)

     Group Number            Tee Time  Start Tee Group Location  Group Hole  \
0               1 2025-03-20 11:35:00          1         14 Tee          14
1               1 2025-03-20 11:35:00          1         14 Tee          14
2               1 2025-03-20 11:35:00          1         14 Tee          14
3              14 2025-03-20 11:40:00         10      5 Fairway           5
4              14 2025-03-20 11:40:00         10      5 Fairway           5
..            ...                 ...        ...            ...         ...
149            52 2025-03-20 18:57:00         10    Coming soon          10
150            52 2025-03-20 18:57:00         10    Coming soon          10
151            39 2025-03-20 19:02:00          1    Coming soon           1
152            39 2025-03-20 19:02:00          1    Coming soon           1
153            39 2025-03-20 19:02:00          1    Coming soon           1

                               Course Name Group Status  \
0    Innisbrook Resort (Copperhead Course)       ACTIVE
1    Innisbrook Resort (Copperhead Course)       ACTIVE
2    Innisbrook Resort (Copperhead Course)       ACTIVE
3    Innisbrook Resort (Copperhead Course)       ACTIVE
4    Innisbrook Resort (Copperhead Course)       ACTIVE
..                                     ...          ...
149  Innisbrook Resort (Copperhead Course)  NOT_STARTED
150  Innisbrook Resort (Copperhead Course)  NOT_STARTED
151  Innisbrook Resort (Copperhead Course)  NOT_STARTED
152  Innisbrook Resort (Copperhead Course)  NOT_STARTED
153  Innisbrook Resort (Copperhead Course)  NOT_STARTED

                   Player Name Country
0                Danny Willett     ENG
1                    Rico Hoey     PHI
2            Chandler Phillips     USA
3                  Michael Kim     USA
4                 Matti Schmid     GER
..                         ...     ...
149          Braden Thornberry     USA
150               Blades Brown     USA
151             Hayden Buckley     USA
152  Adrien Dumont de Chassart     BEL
153              Paul Peterson     USA

[154 rows x 9 columns]

In [80]:
%run load_pga_tournament.py
df_tournament = df

  POS       PLAYER TOT THRU R1 R2 R3 R4  total_stroke
0   1  K. Mitchell  -5  11*  -  -  -  -             0
1  T2    S. Jaeger  -3   10  -  -  -  -             0

C:\Users\rypi3\source\repos\data_golf\load_pga_tournament.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('-', inplace=True)

In [81]:
%run load_pga_fedexcup_rank.py
df_rank = df

    Player Name           Country Projected Rank Official Rank  \
0  Rory McIlroy  Northern Ireland              1             1
1   Sepp Straka           Austria              2             2

  Point Data Projected Point Data Official
0            1,586.286               1,586
1            1,326.095               1,283

In [82]:
# Function to extract last name
def extract_last_name(full_name):
    return full_name.split()[-1]

In [83]:
def extract_name_with_initial(full_name):
    name_parts = full_name.split()
    first_initial = name_parts[0][0] + '.' if name_parts else ''
    last_name = name_parts[-1] if len(name_parts) > 1 else ''
    return f"{first_initial} {last_name}"

In [84]:
# Apply the function to the Full Name column to create a new Last Name column
df_tournament['Name_Key'] = df_tournament['PLAYER'].apply(extract_last_name)
df_tee_time['Name_Key'] = df_tee_time['Player Name'].apply(extract_last_name)
df_rank['Name_Key'] = df_rank['Player Name'].apply(extract_last_name)

C:\Users\rypi3\AppData\Local\Temp\ipykernel_1484\4203428155.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tee_time['Name_Key'] = df_tee_time['Player Name'].apply(extract_last_name)

In [85]:
# Apply the function to the Full Name column to create a new Last Name column
df_tournament['Name_Key2'] = df_tournament['PLAYER'].apply(extract_name_with_initial)
df_tee_time['Name_Key2'] = df_tee_time['Player Name'].apply(extract_name_with_initial)
df_rank['Name_Key2'] = df_rank['Player Name'].apply(extract_name_with_initial)

C:\Users\rypi3\AppData\Local\Temp\ipykernel_1484\643551268.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tee_time['Name_Key2'] = df_tee_time['Player Name'].apply(extract_name_with_initial)

In [86]:
df_tee_time.tail(2)

,Group Number,Tee Time,Start Tee,Group Location,Group Hole,Course Name,Group Status,Player Name,Country,Name_Key,Name_Key2
152,39,2025-03-20 19:02:00,1,Coming soon,1,Innisbrook Resort (Copperhead Course),NOT_STARTED,Adrien Dumont de Chassart,BEL,Chassart,A. Chassart
153,39,2025-03-20 19:02:00,1,Coming soon,1,Innisbrook Resort (Copperhead Course),NOT_STARTED,Paul Peterson,USA,Peterson,P. Peterson

In [87]:
df_times_rank = pd.merge(df_tee_time, df_tournament, on='Name_Key2', how='left')
df_times_rank = pd.merge(df_times_rank, df_rank, on='Name_Key2', how='left')

In [88]:
print(df_rank.shape[1] + df_tee_time.shape[1] + df_tournament.shape[1])

30

In [89]:
df_times_rank = df_times_rank[['Group Number','Tee Time', 'Player Name_x','POS','Official Rank']]

In [90]:
df_times_rank.head(n=60)

,Group Number,Tee Time,Player Name_x,POS,Official Rank
0,1,2025-03-20 11:35:00,Danny Willett,T14,127
1,1,2025-03-20 11:35:00,Rico Hoey,T31,115
2,1,2025-03-20 11:35:00,Chandler Phillips,T46,160
3,14,2025-03-20 11:40:00,Michael Kim,T31,10
4,14,2025-03-20 11:40:00,Matti Schmid,T14,91
5,14,2025-03-20 11:40:00,Jacob Bridgeman,T5,37
6,2,2025-03-20 11:46:00,Kevin Kisner,T66,NaN
7,2,2025-03-20 11:46:00,Joseph Bramlett,T31,105
8,2,2025-03-20 11:46:00,Patrick Fishburn,T14,109
9,15,2025-03-20 11:51:00,Ben Martin,T46,181
10,15,2025-03-20 11:51:00,Will Gordon,T46,112
11,15,2025-03-20 11:51:00,Mac Meissner,T5,134
12,3,2025-03-20 11:57:00,Lanto Griffin,T31,95
13,3,2025-03-20 11:57:00,Nicolai Højgaard,T14,82
14,3,2025-03-20 11:57:00,Ryan Fox,T5,145
15,16,2025-03-20 12:02:00,Keith Mitchell,1,89
16,16,2025-03-20 12:02:00,Luke Donald,T66,NaN
17,16,2025-03-20 12:02:00,Eric Cole,T66,73
18,4,2025-03-20 12:08:00,Davis Riley,T14,118
19,4,2025-03-20 12:08:00,Matthieu Pavon,T14,136
20,4,2025-03-20 12:08:00,Webb Simpson,T46,150
21,17,2025-03-20 12:13:00,Sepp Straka,T14,2
22,17,2025-03-20 12:13:00,Xander Schauffele,T5,140
23,17,2025-03-20 12:13:00,Adam Scott,T63,81
24,5,2025-03-20 12:19:00,Kevin Yu,T31,86
25,5,2025-03-20 12:19:00,Jhonattan Vegas,T46,41
26,5,2025-03-20 12:19:00,Stephan Jaeger,T2,42
27,18,2025-03-20 12:24:00,Peter Malnati,T31,173
28,18,2025-03-20 12:24:00,Tom Kim,T14,54
29,18,2025-03-20 12:24:00,Sam Burns,T2,52
30,6,2025-03-20 12:30:00,Harry Hall,T2,51
31,6,2025-03-20 12:30:00,Adam Svensson,T46,153
32,6,2025-03-20 12:30:00,Gary Woodland,T14,90
33,19,2025-03-20 12:35:00,Thomas Detry,T46,9
34,19,2025-03-20 12:35:00,Billy Horschel,T14,57
35,19,2025-03-20 12:35:00,Tommy Fleetwood,T14,30
36,7,2025-03-20 12:41:00,Rafael Campos,T31,168
37,7,2025-03-20 12:41:00,Adam Schenk,76,79
38,7,2025-03-20 12:41:00,Christiaan Bezuidenhout,T46,58
39,20,2025-03-20 12:46:00,Nico Echavarria,T5,43
40,20,2025-03-20 12:46:00,Patton Kizzire,T66,176
41,20,2025-03-20 12:46:00,Byeong Hun An,T5,56
42,8,2025-03-20 12:52:00,Matt Wallace,T14,162
43,8,2025-03-20 12:52:00,Kurt Kitayama,75,142
44,8,2025-03-20 12:52:00,Matt Kuchar,T66,132
45,21,2025-03-20 12:57:00,Joe Highsmith,T14,20
46,21,2025-03-20 12:57:00,Brice Garnett,T5,92
47,21,2025-03-20 12:57:00,Emiliano Grillo,T31,182
48,9,2025-03-20 13:03:00,C.T. Pan,T46,147
49,9,2025-03-20 13:03:00,Andrew Putnam,T5,83
50,9,2025-03-20 13:03:00,Victor Perez,T14,133
51,22,2025-03-20 13:08:00,Greyson Sigg,T46,84
52,22,2025-03-20 13:08:00,Danny Walker,T66,46
53,10,2025-03-20 13:14:00,Thriston Lawrence,T66,191
54,10,2025-03-20 13:14:00,Greg Koch,T31,NaN
55,23,2025-03-20 13:19:00,Jackson Suber,T46,103
56,23,2025-03-20 13:19:00,Frankie Capan III,T46,123
57,23,2025-03-20 13:19:00,Nick Gabrelcik,T66,NaN
58,11,2025-03-20 13:25:00,Kevin Roy,T31,80
59,11,2025-03-20 13:25:00,Takumi Kanaya,T31,159

In [91]:
# Convert numeric columns to integer
# Replace '-', remove 'T', handle NaN values, and safely convert to integers
df_times_rank['Official Rank'] = (
    df_times_rank['Official Rank']
    .replace('-', 1000)               # Replace '-' with 1000
    .astype(str)                      # Convert the column to string
    .str.replace('T', '', regex=False)  # Remove 'T' (regex=False makes it explicit)
    .replace('nan', 1000)             # Handle 'nan' represented as a string
    .fillna(1000)                     # Handle actual NaN values
    .astype(float)                    # Convert to float first
    .astype(int)                      # Finally, convert to integer
)

In [92]:
df_times_rank.dtypes

Group Number              int64
Tee Time         datetime64[ns]
Player Name_x            object
POS                      object
Official Rank             int64
dtype: object

In [93]:
# Group by the key and calculate the difference between rows
df_times_rank['Difference'] = df_times_rank.groupby('Group Number')['Official Rank'].diff().fillna(0)

In [94]:
print(f'original row count: {df_times_rank.shape[0]}')

original row count: 155

In [95]:
# Remove duplicates from upcoming tee times
df_times_rank.drop_duplicates(inplace=True)

In [96]:
print(f'original row count: {df_times_rank.shape[0]}')

original row count: 155

In [97]:
df_best_groups = df_times_rank[df_times_rank['Difference']>100]
df_best_groups.head()

,Group Number,Tee Time,Player Name_x,POS,Official Rank,Difference
16,16,2025-03-20 12:02:00,Luke Donald,T66,1000,911.0
22,17,2025-03-20 12:13:00,Xander Schauffele,T5,140,138.0
31,6,2025-03-20 12:30:00,Adam Svensson,T46,153,102.0
40,20,2025-03-20 12:46:00,Patton Kizzire,T66,176,133.0
54,10,2025-03-20 13:14:00,Greg Koch,T31,1000,809.0

In [98]:
# Filter rows in df_other based on Group Numbers in df_best_groups
df_bet = df_times_rank[df_times_rank['Group Number'].isin(df_best_groups['Group Number'])]

df_bet.head(50)

,Group Number,Tee Time,Player Name_x,POS,Official Rank,Difference
15,16,2025-03-20 12:02:00,Keith Mitchell,1,89,0.0
16,16,2025-03-20 12:02:00,Luke Donald,T66,1000,911.0
17,16,2025-03-20 12:02:00,Eric Cole,T66,73,-927.0
21,17,2025-03-20 12:13:00,Sepp Straka,T14,2,0.0
22,17,2025-03-20 12:13:00,Xander Schauffele,T5,140,138.0
23,17,2025-03-20 12:13:00,Adam Scott,T63,81,-59.0
30,6,2025-03-20 12:30:00,Harry Hall,T2,51,0.0
31,6,2025-03-20 12:30:00,Adam Svensson,T46,153,102.0
32,6,2025-03-20 12:30:00,Gary Woodland,T14,90,-63.0
39,20,2025-03-20 12:46:00,Nico Echavarria,T5,43,0.0
40,20,2025-03-20 12:46:00,Patton Kizzire,T66,176,133.0
41,20,2025-03-20 12:46:00,Byeong Hun An,T5,56,-120.0
53,10,2025-03-20 13:14:00,Thriston Lawrence,T66,191,0.0
54,10,2025-03-20 13:14:00,Greg Koch,T31,1000,809.0
55,23,2025-03-20 13:19:00,Jackson Suber,T46,103,0.0
56,23,2025-03-20 13:19:00,Frankie Capan III,T46,123,20.0
57,23,2025-03-20 13:19:00,Nick Gabrelcik,T66,1000,877.0
58,11,2025-03-20 13:25:00,Kevin Roy,T31,80,0.0
59,11,2025-03-20 13:25:00,Takumi Kanaya,T31,159,79.0
60,11,2025-03-20 13:25:00,Kaito Onishi,T46,1000,841.0
64,12,2025-03-20 13:36:00,Ricky Castillo,T14,131,0.0
65,12,2025-03-20 13:36:00,John Pak,T14,149,18.0
66,12,2025-03-20 13:36:00,Kieron Van Wyk,T31,1000,851.0
70,13,2025-03-20 13:47:00,Tim Widing,T31,196,0.0
71,13,2025-03-20 13:47:00,Steven Fisk,T46,94,-102.0
72,13,2025-03-20 13:47:00,Neal Shipley,T46,1000,906.0
73,26,2025-03-20 13:52:00,Mason Andersen,T5,172,0.0
74,26,2025-03-20 13:52:00,Thomas Rosenmueller,T66,186,14.0
75,26,2025-03-20 13:52:00,Andre Chi,T63,1000,814.0
100,44,2025-03-20 17:29:00,Brian Campbell,-,26,0.0
101,44,2025-03-20 17:29:00,Vincent Norrman,-,135,109.0
102,44,2025-03-20 17:29:00,Seamus Power,-,98,-37.0
131,49,2025-03-20 18:24:00,Alejandro Tosti,-,121,0.0
132,49,2025-03-20 18:24:00,Jesper Svensson,-,99,-22.0
133,49,2025-03-20 18:24:00,Luke Clanton,-,1000,901.0
140,37,2025-03-20 18:40:00,Max McGreevy,-,63,0.0
141,37,2025-03-20 18:40:00,Michael Thorbjornsen,-,177,114.0
142,37,2025-03-20 18:40:00,Rasmus Neergaard-Petersen,-,1000,823.0
149,52,2025-03-20 18:57:00,Quade Cummins,-,114,0.0
150,52,2025-03-20 18:57:00,Braden Thornberry,-,1000,886.0
151,52,2025-03-20 18:57:00,Blades Brown,-,1000,0.0

In [99]:
df_bet['Player Name_x'][df_bet['Difference'] == 0]

15        Keith Mitchell
21           Sepp Straka
30            Harry Hall
39       Nico Echavarria
53     Thriston Lawrence
55         Jackson Suber
58             Kevin Roy
64        Ricky Castillo
70            Tim Widing
73        Mason Andersen
100       Brian Campbell
131      Alejandro Tosti
140         Max McGreevy
149        Quade Cummins
151         Blades Brown
Name: Player Name_x, dtype: object

In [100]:
import tabulate

ModuleNotFoundError: No module named 'tabulate'