In [3]:
%run load_pga_tee_time.py
df_tee_time = df

   Group Number            Tee Time  Start Tee  Group Location  Group Hole  \
0             1 2025-02-27 11:45:00          1  Round Complete          18
1             1 2025-02-27 11:45:00          1  Round Complete          18

                                 Course Name Group Status      Player Name  \
0  PGA National Resort (The Champion Course)     COMPLETE  Patrick Rodgers
1  PGA National Resort (The Champion Course)     COMPLETE        Rico Hoey

  Country
0     USA
1     PHI

In [4]:
%run load_pga_tournament.py
df_tournament = df

  POS        PLAYER  TOT THRU  R1  R2    R3    R4  total_stroke
0   1  J. Highsmith  -19    F  65  72  64.0  64.0           265
1  T2  J. Bridgeman  -17    F  68  68  67.0  64.0           267

C:\Users\rypi3\source\repos\data_golf\load_pga_tournament.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('-', inplace=True)

In [15]:
%run load_pga_fedexcup_rank.py
df_rank = df

    Player Name  Country Projected Rank Official Rank Point Data Projected  \
0  Ludvig Åberg   Sweden              1             1              978.417
1   Sepp Straka  Austria              2             2              912.595

  Point Data Official
0                 978
1                 913

In [16]:
# Function to extract last name
def extract_last_name(full_name):
    return full_name.split()[-1]

In [22]:
def extract_name_with_initial(full_name):
    name_parts = full_name.split()
    first_initial = name_parts[0][0] + '.' if name_parts else ''
    last_name = name_parts[-1] if len(name_parts) > 1 else ''
    return f"{first_initial} {last_name}"

In [28]:
# Apply the function to the Full Name column to create a new Last Name column
df_tournament['Name_Key'] = df_tournament['PLAYER'].apply(extract_last_name)
df_tee_time['Name_Key'] = df_tee_time['Player Name'].apply(extract_last_name)
df_rank['Name_Key'] = df_rank['Player Name'].apply(extract_last_name)

In [29]:
# Apply the function to the Full Name column to create a new Last Name column
df_tournament['Name_Key2'] = df_tournament['PLAYER'].apply(extract_name_with_initial)
df_tee_time['Name_Key2'] = df_tee_time['Player Name'].apply(extract_name_with_initial)
df_rank['Name_Key2'] = df_rank['Player Name'].apply(extract_name_with_initial)

In [33]:
df_tee_time.tail(2)

,Group Number,Tee Time,Start Tee,Group Location,Group Hole,Course Name,Group Status,Player Name,Country,Name_Key,Name_Key2
422,34,2025-03-02 18:50:00,1,Round Complete,18,PGA National Resort (The Champion Course),COMPLETE,Jake Knapp,USA,Knapp,J. Knapp
423,34,2025-03-02 18:50:00,1,Round Complete,18,PGA National Resort (The Champion Course),COMPLETE,Michael Kim,USA,Kim,M. Kim

In [36]:
joindf = pd.merge(df_tee_time, df_tournament, on='Name_Key2', how='left')

In [37]:
joindf.head(1)

,Group Number,Tee Time,Start Tee,Group Location,Group Hole,Course Name,Group Status,Player Name,Country,Name_Key_x,...,POS,PLAYER,TOT,THRU,R1,R2,R3,R4,total_stroke,Name_Key_y
0,1,2025-02-27 11:45:00,1,Round Complete,18,PGA National Resort (The Champion Course),COMPLETE,Patrick Rodgers,USA,Rodgers,...,T18,P. Rodgers,-12,F,67,69,66.0,70.0,272,Rodgers

In [38]:
import pandas as pd

# Group by 'Category' column and then order by 'Order' column in descending order
grouped_df = joindf.groupby('Tee Time').apply(lambda x: x.sort_values('TOT', ascending=False)).reset_index(drop=True)

C:\Users\rypi3\AppData\Local\Temp\ipykernel_20112\3094690040.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped_df = joindf.groupby('Tee Time').apply(lambda x: x.sort_values('TOT', ascending=False)).reset_index(drop=True)

In [39]:
grouped_df

,Group Number,Tee Time,Start Tee,Group Location,Group Hole,Course Name,Group Status,Player Name,Country,Name_Key_x,...,POS,PLAYER,TOT,THRU,R1,R2,R3,R4,total_stroke,Name_Key_y
0,13,2025-02-27 11:45:00,10,Round Complete,9,PGA National Resort (The Champion Course),COMPLETE,Denny McCarthy,USA,McCarthy,...,T48,D. McCarthy,-7,F,67,70,71.0,69.0,277,McCarthy
1,13,2025-02-27 11:45:00,10,Round Complete,9,PGA National Resort (The Champion Course),COMPLETE,Sam Ryder,USA,Ryder,...,T48,S. Ryder,-7,F,64,72,71.0,70.0,277,Ryder
2,13,2025-02-27 11:45:00,10,Round Complete,9,PGA National Resort (The Champion Course),COMPLETE,Patrick Fishburn,USA,Fishburn,...,T48,P. Fishburn,-7,F,67,70,67.0,73.0,277,Fishburn
3,1,2025-02-27 11:45:00,1,Round Complete,18,PGA National Resort (The Champion Course),COMPLETE,Patrick Rodgers,USA,Rodgers,...,T18,P. Rodgers,-12,F,67,69,66.0,70.0,272,Rodgers
4,1,2025-02-27 11:45:00,1,Round Complete,18,PGA National Resort (The Champion Course),COMPLETE,Rico Hoey,PHI,Hoey,...,T25,R. Hoey,-11,F,66,69,68.0,70.0,273,Hoey
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,32,2025-03-02 18:30:00,1,Round Complete,18,PGA National Resort (The Champion Course),COMPLETE,Rickie Fowler,USA,Fowler,...,T18,R. Fowler,-12,F,64,68,68.0,72.0,272,Fowler
424,33,2025-03-02 18:40:00,1,Round Complete,18,PGA National Resort (The Champion Course),COMPLETE,Ben Griffin,USA,Griffin,...,T4,B. Griffin,-16,F,68,65,66.0,69.0,268,Griffin
425,33,2025-03-02 18:40:00,1,Round Complete,18,PGA National Resort (The Champion Course),COMPLETE,Russell Henley,USA,Henley,...,T6,R. Henley,-15,F,63,70,66.0,70.0,269,Henley
426,34,2025-03-02 18:50:00,1,Round Complete,18,PGA National Resort (The Champion Course),COMPLETE,Jake Knapp,USA,Knapp,...,T6,J. Knapp,-15,F,59,70,68.0,72.0,269,Knapp
427,34,2025-03-02 18:50:00,1,Round Complete,18,PGA National Resort (The Champion Course),COMPLETE,Michael Kim,USA,Kim,...,T6,M. Kim,-15,F,65,66,67.0,71.0,269,Kim