In [89]:
%run load_pga_tee_time.py
df_tee_time = df

   Group Number            Tee Time  Start Tee  Group Location  Group Hole  \
0             1 2025-03-20 11:35:00          1  Round Complete          18
1             1 2025-03-20 11:35:00          1  Round Complete          18

                             Course Name Group Status    Player Name Country
0  Innisbrook Resort (Copperhead Course)     COMPLETE  Danny Willett     ENG
1  Innisbrook Resort (Copperhead Course)     COMPLETE      Rico Hoey     PHI

In [90]:
import pandas as pd

# User input for the date
# Need try catch if date is old tournament.
date_input = '2025-03-22'

# Convert user input to a pandas Timestamp
date_input = pd.to_datetime(date_input)

# Filter the DataFrame to include only rows with the specified date
df_tee_time = df_tee_time[df_tee_time['Tee Time'].dt.date == date_input.date()]

print(df_tee_time)

     Group Number            Tee Time  Start Tee Group Location  Group Hole  \
306             1 2025-03-22 11:30:00          1    Coming soon           1
307             1 2025-03-22 11:30:00          1    Coming soon           1
308             2 2025-03-22 11:39:00          1    Coming soon           1
309             2 2025-03-22 11:39:00          1    Coming soon           1
310             3 2025-03-22 11:48:00          1    Coming soon           1
..            ...                 ...        ...            ...         ...
379            37 2025-03-22 17:40:00          1    Coming soon           1
380            38 2025-03-22 17:50:00          1    Coming soon           1
381            38 2025-03-22 17:50:00          1    Coming soon           1
382            39 2025-03-22 18:00:00          1    Coming soon           1
383            39 2025-03-22 18:00:00          1    Coming soon           1

                               Course Name Group Status       Player Name  \
306  Innisbrook Resort (Copperhead Course)  NOT_STARTED      Neal Shipley
307  Innisbrook Resort (Copperhead Course)  NOT_STARTED    Mason Andersen
308  Innisbrook Resort (Copperhead Course)  NOT_STARTED  ThorbjÃ¸rn Olesen
309  Innisbrook Resort (Copperhead Course)  NOT_STARTED       Steven Fisk
310  Innisbrook Resort (Copperhead Course)  NOT_STARTED  Patrick Fishburn
..                                     ...          ...               ...
379  Innisbrook Resort (Copperhead Course)  NOT_STARTED        Kevin Velo
380  Innisbrook Resort (Copperhead Course)  NOT_STARTED     Ryo Hisatsune
381  Innisbrook Resort (Copperhead Course)  NOT_STARTED     Byeong Hun An
382  Innisbrook Resort (Copperhead Course)  NOT_STARTED   Jacob Bridgeman
383  Innisbrook Resort (Copperhead Course)  NOT_STARTED    Viktor Hovland

    Country
306     USA
307     USA
308     DEN
309     USA
310     USA
..      ...
379     USA
380     JPN
381     KOR
382     USA
383     NOR

[78 rows x 9 columns]

In [ ]:
%run load_pga_tournament.py
df_tournament = df

  POS        PLAYER TOT THRU    R1    R2 R3 R4  total_stroke
0   1  J. Bridgeman  -6    F  67.0  69.0  -  -           136
1  T2    V. Hovland  -5   F*  70.0  67.0  -  -           137

C:\Users\rypi3\source\repos\data_golf\load_pga_tournament.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('-', inplace=True)

In [92]:
%run load_pga_fedexcup_rank.py
df_rank = df

    Player Name           Country Projected Rank Official Rank  \
0  Rory McIlroy  Northern Ireland              1             1
1   Sepp Straka           Austria              2             2

  Point Data Projected Point Data Official
0            1,586.286               1,586
1            1,328.637               1,283

In [93]:
%run load_world_rank.py
df_world_rank = df

   Rank          Full Name First Name   Last Name           Birth Date  \
0     1  Scottie Scheffler    Scottie   Scheffler  1996-06-21T00:00:00
1     2       Rory McIlroy       Rory     McIlroy  1989-05-04T00:00:00
2     3  Xander Schauffele     Xander  Schauffele  1993-10-25T00:00:00
3     4    Collin Morikawa     Collin    Morikawa  1997-02-06T00:00:00
4     5       Ludvig Aberg     Ludvig       Aberg  1999-10-31T00:00:00

            Country  Points Lost  Points Won  Points Total  Points Average  \
0     United States  -132.112095   45.275738    568.363561         13.8625
1  Northern Ireland   -75.055427  177.833733    463.475490          9.8612
2     United States   -75.098362    3.399615    325.075838          8.1269
3     United States   -45.254761   89.884339    282.810507          6.5770
4            Sweden   -38.944304   82.331223    256.077251          6.0971

   Last Week Rank  End Last Year Rank  Week End Date
0               1                   1  16 March 2025
1               2                   3  16 March 2025
2               3                   2  16 March 2025
3               4                   4  16 March 2025
4               5                   5  16 March 2025
Player rankings have been saved to 'rankings_list.csv'.

In [94]:
def extract_name_with_initial(full_name):
    name_parts = full_name.split()
    first_initial = name_parts[0][0] + '.' if name_parts else ''
    last_name = name_parts[-1] if len(name_parts) > 1 else ''
    return f"{first_initial} {last_name}"

In [95]:
# Apply the function to the Full Name column to create a new Last Name column
df_tournament['Name_Key2'] = df_tournament['PLAYER'].apply(extract_name_with_initial)
df_tee_time['Name_Key2'] = df_tee_time['Player Name'].apply(extract_name_with_initial)
df_rank['Name_Key2'] = df_rank['Player Name'].apply(extract_name_with_initial)
df_world_rank['Name_Key2'] = df_world_rank['Full Name'].apply(extract_name_with_initial)

C:\Users\rypi3\AppData\Local\Temp\ipykernel_16320\2081487957.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tee_time['Name_Key2'] = df_tee_time['Player Name'].apply(extract_name_with_initial)

In [96]:
df_tee_time.tail(2)

,Group Number,Tee Time,Start Tee,Group Location,Group Hole,Course Name,Group Status,Player Name,Country,Name_Key2
382,39,2025-03-22 18:00:00,1,Coming soon,1,Innisbrook Resort (Copperhead Course),NOT_STARTED,Jacob Bridgeman,USA,J. Bridgeman
383,39,2025-03-22 18:00:00,1,Coming soon,1,Innisbrook Resort (Copperhead Course),NOT_STARTED,Viktor Hovland,NOR,V. Hovland

In [97]:
df_times_rank = pd.merge(df_tee_time, df_tournament, on='Name_Key2', how='left')
df_times_rank = pd.merge(df_times_rank, df_rank, on='Name_Key2', how='left')
df_times_rank = pd.merge(df_times_rank, df_world_rank, on='Name_Key2', how='left')

In [98]:
print(df_rank.shape[1] + df_tee_time.shape[1] + df_tournament.shape[1])

27

In [99]:
df_times_rank.columns

Index(['Group Number', 'Tee Time', 'Start Tee', 'Group Location', 'Group Hole',
       'Course Name', 'Group Status', 'Player Name_x', 'Country_x',
       'Name_Key2', 'POS', 'PLAYER', 'TOT', 'THRU', 'R1', 'R2', 'R3', 'R4',
       'total_stroke', 'Player Name_y', 'Country_y', 'Projected Rank',
       'Official Rank', 'Point Data Projected', 'Point Data Official', 'Rank',
       'Full Name', 'First Name', 'Last Name', 'Birth Date', 'Country',
       'Points Lost', 'Points Won', 'Points Total', 'Points Average',
       'Last Week Rank', 'End Last Year Rank', 'Week End Date'],
      dtype='object')

In [100]:
df_times_rank = df_times_rank[['Group Number','Tee Time', 'Player Name_x','POS','Official Rank','Rank']]

In [101]:
# Convert numeric columns to integer
# Replace '-', remove 'T', handle NaN values, and safely convert to integers
df_times_rank['Official Rank'] = (
    df_times_rank['Official Rank']
    .replace('-', 1000)               # Replace '-' with 1000
    .astype(str)                      # Convert the column to string
    .str.replace('T', '', regex=False)  # Remove 'T' (regex=False makes it explicit)
    .replace('nan', 1000)             # Handle 'nan' represented as a string
    .fillna(1000)                     # Handle actual NaN values
    .astype(float)                    # Convert to float first
    .astype(int)                      # Finally, convert to integer
)

In [111]:
# Convert numeric columns to integer
# Replace '-', remove 'T', handle NaN values, and safely convert to integers
df_times_rank['Rank'] = (
    df_times_rank['Rank']
    .replace('-', 1000)               # Replace '-' with 1000
    .astype(str)                      # Convert the column to string
    .str.replace('T', '', regex=False)  # Remove 'T' (regex=False makes it explicit)
    .replace('nan', 1000)             # Handle 'nan' represented as a string
    .fillna(1000)                     # Handle actual NaN values
    .astype(float)                    # Convert to float first
    .astype(int)                      # Finally, convert to integer
)

In [112]:
df_times_rank.dtypes

Group Number              int64
Tee Time         datetime64[ns]
Player Name_x            object
POS                      object
Official Rank             int64
Rank                      int64
Difference              float64
dtype: object

In [121]:
# Group by the key and calculate the difference between rows
df_times_rank['Difference'] = df_times_rank.groupby('Group Number')['Rank'].diff().fillna(0)

In [122]:
print(f'original row count: {df_times_rank.shape[0]}')

original row count: 78

In [123]:
# Remove duplicates from upcoming tee times
df_times_rank.drop_duplicates(inplace=True)

In [124]:
print(f'original row count: {df_times_rank.shape[0]}')

original row count: 78

In [125]:
df_best_groups = df_times_rank[df_times_rank['Difference']>100]
df_best_groups.head()

,Group Number,Tee Time,Player Name_x,POS,Official Rank,Rank,Difference
3,2,2025-03-22 11:39:00,Steven Fisk,T65,94,1000,914.0
7,4,2025-03-22 11:57:00,Matti Schmid,T65,91,1000,946.0
21,11,2025-03-22 13:05:00,Luke Clanton,T53,1000,1000,941.0
41,21,2025-03-22 14:50:00,Gary Woodland,T26,90,1000,952.0
43,22,2025-03-22 15:00:00,Kris Ventura,T26,75,1000,923.0

In [126]:
# Filter rows in df_other based on Group Numbers in df_best_groups
df_bet = df_times_rank[df_times_rank['Group Number'].isin(df_best_groups['Group Number'])]

df_bet.head(50)

,Group Number,Tee Time,Player Name_x,POS,Official Rank,Rank,Difference
2,2,2025-03-22 11:39:00,ThorbjÃ¸rn Olesen,T65,192,86,0.0
3,2,2025-03-22 11:39:00,Steven Fisk,T65,94,1000,914.0
6,4,2025-03-22 11:57:00,Michael Kim,T65,10,54,0.0
7,4,2025-03-22 11:57:00,Matti Schmid,T65,91,1000,946.0
20,11,2025-03-22 13:05:00,Matt McCarty,T53,126,59,0.0
21,11,2025-03-22 13:05:00,Luke Clanton,T53,1000,1000,941.0
40,21,2025-03-22 14:50:00,Matthieu Pavon,T26,136,48,0.0
41,21,2025-03-22 14:50:00,Gary Woodland,T26,90,1000,952.0
42,22,2025-03-22 15:00:00,Rasmus Neergaard-Petersen,T26,1000,77,0.0
43,22,2025-03-22 15:00:00,Kris Ventura,T26,75,1000,923.0
46,24,2025-03-22 15:20:00,Andrew Novak,T26,36,80,0.0
47,24,2025-03-22 15:20:00,David Lipsky,T26,183,1000,920.0
60,31,2025-03-22 16:35:00,J.T. Poston,T14,66,42,0.0
61,31,2025-03-22 16:35:00,Mac Meissner,T14,134,1000,958.0
70,36,2025-03-22 17:30:00,Xander Schauffele,T5,140,3,0.0
71,36,2025-03-22 17:30:00,Jeremy Paul,T5,130,1000,997.0
72,37,2025-03-22 17:40:00,Shane Lowry,T5,12,15,0.0
73,37,2025-03-22 17:40:00,Kevin Velo,T5,189,1000,985.0

In [127]:
df_bet['Player Name_x'][df_bet['Difference'] == 0]

2              ThorbjÃ¸rn Olesen
6                   Michael Kim
20                 Matt McCarty
40               Matthieu Pavon
42    Rasmus Neergaard-Petersen
46                 Andrew Novak
60                  J.T. Poston
70            Xander Schauffele
72                  Shane Lowry
Name: Player Name_x, dtype: object

In [128]:
import tabulate

ModuleNotFoundError: No module named 'tabulate'