In [3]:
import pandas as pd
import os

In [5]:
os.getcwd()

'c:\\Users\\rypi3\\Documents\\Git\\data_golf\\Spark'

In [8]:
sparkrawdf = pd.read_csv('../data/GolfAnalysis - Spark.csv')
sparkrawdf.head()

        ROUND SCORE  POS   PTS  BEST 10
0  Tue Apr 11     3   T9  13.0     13.0
1  Brookshire   NaN  NaN   NaN      NaN
2  Tue Apr 18     7   22   1.0      NaN
3  Brookshire   NaN  NaN   NaN      NaN
4  Tue Apr 25     4  T10   9.0      NaN

In [15]:
df = sparkrawdf.drop(sparkrawdf[(sparkrawdf['ROUND']) == 'Brookshire'].index)

In [16]:
df.head()

        ROUND SCORE  POS   PTS  BEST 10
0  Tue Apr 11     3   T9  13.0     13.0
2  Tue Apr 18     7   22   1.0      NaN
4  Tue Apr 25     4  T10   9.0      NaN
6   Tue May 2    -4   T1  95.0     95.0
8  Tue May 16     1   T9  10.0      NaN